@model IEnumerable<PROG2112ClaimsPOE.Models.ClaimModel>

@{
    ViewData["Title"] = "View Claims";
}

<h2>All Claims</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Lecture Name</th>
            <th>Lecture Surname</th>
            <th>Subject Name</th>
            <th>Lecturer Email</th>
            <th>Subject Code</th>
            <th>Campus Location</th>
            <th>Hours Worked</th>
            <th>Hourly Rate</th>
            <th>Payment</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var claim in Model)
        {
            <tr>
                <td>@claim.Id</td>
                <td>@claim.LectureName</td>
                <td>@claim.LectureSurname</td>
                <td>@claim.SubjectName</td>
                <td>@claim.LecturerEmail</td>
                <td>@claim.SubjectCode</td>
                <td>@claim.CampusLocation</td>
                <td>@claim.HoursWorked</td>
                <td>@claim.HourlyRate</td>
                <td>@claim.Payment</td>
                <td>@claim.Message</td>
                <td>@claim.Statues</td>
            </tr>
        }
    </tbody>
</table>
